$margin:1rem;

.form,
.consultation {
  background-color: rgb(255, 252, 199);
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.form {
  .formTitle {
    font-weight: bold;
  }
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
}
.form--number, .form--adress{
  margin-top: $margin;
}

.submitForm {
  margin-bottom: 3rem;
}
.terms {
  background-color: rgb(252, 180, 224);
  margin-top: 1rem;
}
.contactBackground{
    background-image: url(../../assets/contactBackground.jpg);
    background-size: cover;
    background-position: center;
  }