.filter {
    background-color: rgba(255, 0, 100, 0.5);
  }
  .publications {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    > div {
      display: flex;
      flex-direction: column;
      > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        > span {
          text-align: center;
        }
      }
    }
  }

  .publications--background1 {
    background-image: url(../assets/fondoAdidas.jpg);
  }
  .publications--background2 {
    background-image: url(../assets/FondoFila.jpg);
  }
  .publications--background3 {
    background-image: url(../assets/FondoConverse.jpg);
  }
  .publications--background4 {
    background-image: url(../assets/FondoNB.jpg);
  }
  .publications--background5 {
    background-image: url(../assets/FondoNike.jpg);
  }
  .publications--background6 {
    background-image: url(../assets/FondoPuma.jpg);
  }
  .card {
    height: 25rem;
    width: 15rem;
    margin: 2rem 0rem 2rem 0rem;
    transition: 0.2s;
    font-family: "Oswald", sans-serif;
  }
  .card:hover {
    transform: scale(1.1, 1.1);
  }
  .card-title {
    margin: 1rem 0rem 1rem 0rem;
  }
  .card-img-top {
    height: 14rem;
    width: 15rem;
  }