.background {
    background-image: url(../assets/fondoMarcas.jpg);
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        display: flex;
        flex-direction: column;
    >article{
        >img{
            width: 30rem;
            height: 22rem;
        }
      }  
    }
  }