@import "__nav.scss";
@import "__index.scss";
@import "__Contacto.scss";
@import "__Marcas.scss";
@import "__Micuenta.scss";
@import "__Footer.scss";
@media only screen and (max-width: 768px) {
  .publications {
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .publications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 992px) {
  .publications {
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  nav {
    > div {
      > .user {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 6.5rem;
      }
      > img {
        margin-bottom: 7rem;
      }
    }
  }
  .info {
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    > div {
      flex-direction: column;
      width: 20rem;
    }
  }
}
