@import "__nav.scss";
@import "__index.scss";
@import "__Contacto.scss";
@import "__Marcas.scss";
@import "__miCuenta.scss";
@import "__productos.scss";
@import "__Footer.scss";
@media only screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    font-size: 1.3rem;
  }
  .navbar-nav{
    width: 14rem;
    padding-left: 1rem;
  }
  .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav{
    background-image: url(../assets/BannerNavMobile.jpg);
  }
  .publications--background1 {
    background-image: url(../assets/indexAdidasMobile.jpg);
  }
  .publications--background2 {
    background-image: url(../assets/indexFilaMobile.jpg);
  }
  .publications--background3 {
    background-image: url(../assets/indexConverseMobile.jpg);
  }
  .publications--background5 {
    background-image: url(../assets/indexNikeMobile.jpg);
  }
  .publications--background6 {
    background-image: url(../assets/indexPumaMobile.jpg);
  }
  .card {
    flex-direction: row;
    height: 10.1rem;
    width: 85%;
  }
  .card-img-top {
    height: 10rem;
    width: 10rem;
  }
  .card-body{
    padding:0.5rem 0.5rem;
  }
  .card-title{
    margin: 0rem 0rem 1rem 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card__mark--margin {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .navbar-expand-lg .navbar-collapse{
  font-size: 1.5rem;
  margin-right: 32rem;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    margin-top: 7rem;
    margin-left: 10.7rem;
  }
    .card__mark--margin{
    > div {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  nav {
    height: 15rem;
    > div {
      > .user {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 6.5rem;
      }
      > img {
        margin-bottom: 7rem;
      }
    }
  }
  .info {
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    > div {
      flex-direction: column;
      width: 20rem;
    }
  }
  .background{
    >div{
      flex-direction: row;
    }
  }
  .marcas__form{
    flex-direction: row;
  justify-content: space-evenly;
  }
}
