* {
  margin: 0px;
  padding: 0px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
}

nav {
  background-image: url(../assets/BannerNav.jpg);
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}

nav > div > .user {
  display: none;
}

.navbar {
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  transition: 0.2s;
  font-family: "Rubik", sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav {
  background-color: #bebdbd;
  border-radius: 5px;
}

.navbar-light .navbar-toggler {
  background-color: darkgray;
  margin-top: 50px;
}

.navbar-collapse {
  z-index: 10;
}

.user--login {
  color: #ffa600;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

video {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/contactBackground1.jpg);
  background-position: center;
  background-size: cover;
  font-size: 1rem;
  color: #161515;
  font-weight: bold;
  text-transform: uppercase;
}

legend {
  text-align: center;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.form-check-input:focus {
  border-color: #000000;
  outline: 0;
  box-shadow: none;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.background {
  background-image: url(../assets/fondoMarcas.jpg);
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background > div {
  display: flex;
  flex-direction: column;
}
.background > div > article > img {
  width: 30rem;
  height: 22rem;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: tan;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.info > div {
  display: flex;
  flex-direction: column;
}

.info--dates {
  margin-top: 1rem;
}

.info__dates--document, .info--adress, .account--password {
  margin-bottom: 1rem;
}

.body__background {
  background-image: url(../assets/contactBackground1.jpg);
}

.filter {
  background-color: rgba(255, 0, 100, 0.5);
}

.publications {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}
.publications > div {
  display: flex;
  flex-direction: column;
}
.publications > div > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.publications > div > article > span {
  text-align: center;
}

.publications--background1 {
  background-image: url(../assets/adidasIndex.jpg);
}

.publications--background2 {
  background-image: url(../assets/filaIndex.jpg);
}

.publications--background3 {
  background-image: url(../assets/ConverseIndex.jpg);
}

.publications--background4 {
  background-image: url(../assets/newbalanceIndex.jpg);
}

.publications--background5 {
  background-image: url(../assets/nikeIndex.jpg);
}

.publications--background6 {
  background-image: url(../assets/PumaIndex.jpg);
}

.card {
  height: 25rem;
  width: 15rem;
  margin: 2rem 0rem 2rem 0rem;
  transition: 0.2s;
  font-family: "Oswald", sans-serif;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.card-title {
  margin: 1rem 0rem 1rem 0rem;
}

.card-img-top {
  height: 14rem;
  width: 15rem;
}

footer {
  background-color: #343a40;
  color: seashell;
  display: flex;
  justify-content: space-around;
}
footer > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
}
footer > section > p {
  text-align: center;
  line-height: 25px;
}
footer > section > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTitle {
  background-color: #9f838e;
  font-weight: bold;
  text-decoration: underline;
  display: inline;
}

.footer__contact--email {
  width: 16rem;
}

@media only screen and (max-width: 768px) {
  .publications {
    align-items: center;
  }

  .navbar-expand-lg .navbar-collapse {
    font-size: 1.3rem;
  }

  .navbar-nav {
    width: 14rem;
    padding-left: 1rem;
  }

  .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    background-image: url(../assets/BannerNavMobile.jpg);
  }

  .publications--background1 {
    background-image: url(../assets/indexAdidasMobile.jpg);
  }

  .publications--background2 {
    background-image: url(../assets/indexFilaMobile.jpg);
  }

  .publications--background3 {
    background-image: url(../assets/indexConverseMobile.jpg);
  }

  .publications--background5 {
    background-image: url(../assets/indexNikeMobile.jpg);
  }

  .publications--background6 {
    background-image: url(../assets/indexPumaMobile.jpg);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .publications {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar-expand-lg .navbar-collapse {
    font-size: 1.5rem;
    margin-right: 32rem;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    margin-top: 7rem;
    margin-left: 10.7rem;
  }

  .publications > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav {
    height: 15rem;
  }
  nav > div > .user {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 6.5rem;
  }
  nav > div > img {
    margin-bottom: 7rem;
  }

  .info {
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
  }
  .info > div {
    flex-direction: column;
    width: 20rem;
  }

  .background > div {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */